{% set depth = pagename.count('/') %}
{% set side_by_side_up = '../' * (depth + 1) %}
{% set root_up = '../' * depth %}
{% set root_from_translation_up = '../' * (depth + 1) %}
{% if language and language.startswith("zh") %}
  {% set other_label = "English" %}
  {% if language_switcher_mode == "root" %}
    {% set other_url = root_from_translation_up + pagename + ".html" %}
  {% else %}
    {% set other_url = side_by_side_up + "html/" + pagename + ".html" %}
  {% endif %}
{% else %}
  {% set other_label = "中文" %}
  {% if language_switcher_mode == "root" %}
    {% set other_url = root_up + "html_zh/" + pagename + ".html" %}
  {% else %}
    {% set other_url = side_by_side_up + "html_zh/" + pagename + ".html" %}
  {% endif %}
{% endif %}

<a class="btn language-switcher"
   href="{{ other_url }}"
   title="{{ other_label }}"
   aria-label="{{ other_label }}">
  <i class="fas fa-language" aria-hidden="true"></i>
  <span class="visually-hidden">{{ other_label }}</span>
</a>
